<p *ngIf="isLoading">Loading your exam...</p>
<div *ngIf="!isLoading" class="columns">
  <div class="column is-three-quarters">
    <div class="box">
      <div class="content">
        <div *ngIf="counter$ | async as counter">
          <p>{{diff}} minutes remaining</p>
          <p>Deadline: {{exam.examDate | date:'medium'}}</p>
        </div>
      </div>
    </div>

    <h2>Question #{{qIndex + 1}}</h2>

    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <div [innerHTML]="questions[qIndex].body"></div>
            <form #heroForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
              <div class="control" *ngIf = "questions[qIndex].questionType=='TEXT'">
                <div class="row"><label for="answer">Your answer: </label></div>
                <div class="row"><textarea id="answer" name="answer" type="text" [(ngModel)]="textAnswer"> </textarea></div>
              </div>
              <div class="control">
                <div *ngFor="let ch of questions[qIndex].choices; index as i;">
                  <label *ngIf = "questions[qIndex].questionType=='SELECT_MANY'" class="radio" style="display: inline-flex">
                    <input type="checkbox" (click)="choose(i)" [checked]="questions[qIndex].choices[i].chosen">
                    <div [innerHTML]="ch.body"></div>
                  </label>
                  <label *ngIf = "questions[qIndex].questionType=='SELECT_ONE'" class="radio" style="display: inline-flex">
                    <input name = "question-radio" type="radio" (click)="chooseRadio(i)" [checked]="questions[qIndex].choices[i].chosen">
                    <div [innerHTML]="ch.body"></div>
                  </label>
                </div>
              </div>
            </form>
          </div>
        </div>
      </article>
    </div>


    <div class="box" *ngIf="questions[qIndex].code && questions[qIndex].code !== ''">
      <p>Code: </p>
      <div class="media-content">
        <div class="content" style="white-space: pre-line;">
          <pre [innerHTML]="questions[qIndex].code"></pre>
        </div>
      </div>
    </div>

    <!-- Controls -->
    <div class="buttons is-grouped is-centered">
      <button class="button" [disabled]="qIndex <= 0" (click)="prev()"><span class="fas fa-chevron-circle-left"></span>&nbsp;Previous</button>
      <button class="button" (click)="toggleFlag()" [class.is-dark]="isFlagged()">
        <span class="fas fa-flag"></span>&nbsp;
        <span *ngIf="!isFlagged()">Flag for review</span>
        <span *ngIf="isFlagged()">Remove flag</span>
      </button>
      <button class="button" *ngIf="qIndex !== questions.length - 1" (click)="next()">Next&nbsp;<span class="fas fa-chevron-circle-right"></span></button>
      <button class="button is-primary tooltip" [disabled]="hasFlags()" (click)="submit()" *ngIf="qIndex === questions.length -1">
        Submit the test <span class="far fa-check-square"></span>
        <span *ngIf="hasFlags()" class="tooltiptext">You still have flagged questions!</span>
      </button>
    </div>
  </div>
  <div class="column">
    <app-exam-navigation [currentQIndex]="qIndex" [questionList]="questions" [markedQuestions]="markedQuestions" (qIndexUpdater)="jumpTo($event)"></app-exam-navigation>
  </div>
</div>
