/* Navbar stuff */

.navbar,
.navbar-default {
background-color: #1e90ff !important;
padding: 0;
min-height: 3.25rem;
}

.navbar-brand {
padding-left: 0.75rem
}

span.navbar-brand {
  font-size: 1rem;
}

.navbar a {
  font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
  background-color: #2366d1;
}

.navbar .dropdown-menu {
  margin-top: 0;
}

.navbar .nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.navbar .dropdown-menu:hover {
  display: block;
}

.navbar .dropdown-menu a {
  font-size: 0.875rem;
}

/* Global styles */

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /*font-size: calc(10px + 2vmin);*/
  color: black;
}

.App-header .card {
  margin: 0px 10px;
}

.text-black {
  font-size: calc(4px + 1.5vmin);
  color: black;
}

.list-group-text {
  font-size: calc(4px + 1vmin);
  color: black;
}

.align-center {
  align-items: center;
  justify-content: center;
}

.button-card {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.small-break {
  min-height: 2vh;
  max-height: 2vh;
}

.same-height-row {
  align-items: stretch;
}

.App-link {
  color: #61dafb;
}
