<nav class="navbar is-link" role="navigation" aria-label="main navigation" >
  <!-- style="margin-right: 1em; margin-left: 1em;" -->
  <div class="navbar-brand">
    <span class="navbar-item">
      TMS: Configuration Management
    </span>
    <a role="button" class="navbar-burger burger" (click)="toggleActive()" [ngClass]="{'is-active': active == true}" aria-label="menu" aria-expanded="false" data-target="mainNavbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="mainNavbar" class="navbar-menu" [ngClass]="{'is-active': active == true}">
    <div class="navbar-start">
      <a class="navbar-item" href="https://tcs.ecs.baylor.edu/">
        Home
      </a>
      <a class="navbar-item" [routerLink]="['/assignments']" *ngIf="isAdmin">
        Exam assignments
      </a>
      <a class="navbar-item" [routerLink]="['/exam']" *ngIf="isAdmin">
        Create exam assignments
      </a>
      <a class="navbar-item" [routerLink]="['/results']" *ngIf="isAdmin">
        Exam Results
      </a>
      <a class="navbar-item" [routerLink]="['']" *ngIf="isAdmin">
        Configuration creator
      </a>
      <a class="navbar-item" [routerLink]="['/configurations']" *ngIf="isAdmin">
        Configurations
      </a>
    </div>

    <div class="navbar-end">
      <a class="navbar-item" href="https://tcs.ecs.baylor.edu">
        TMS Home
      </a>
      <div class="navbar-item has-dropdown is-hoverable" *ngIf="isAdmin">
        <a class="navbar-link">
          Administration
        </a>
        <div class="navbar-dropdown is-right">
          <a class="navbar-item" href="https://tcs.ecs.baylor.edu/questions">
            Question Management
          </a>
          <a class="navbar-item" href="https://tcs.ecs.baylor.edu/config">
            Configuration Management
          </a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          {{userData.firstName}} {{userData.lastName}}
        </a>
        <div class="navbar-dropdown is-right">
          <a class="navbar-item" href="https://tcs.ecs.baylor.edu/profile">
            My Profile
          </a>
          <a class="navbar-item" href="https://tcs.ecs.baylor.edu/exams">
            My Exams
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" (click)="signout()">
            Sign out
          </a>
        </div>
      </div>
      <!-- <div class="navbar-item">
        <div class="dropdown is-right is-info is-outlined" [ngClass]="{'is-active': active == true}" (click)="toggleActive()">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
              <span>{{userData.firstName}} {{userData.lastName}}</span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <a href="#" class="dropdown-item" href="https://tcs.ecs.baylor.edu/questions" *ngIf="isAdmin">
                Question Management
              </a>
              <a class="dropdown-item" href="https://tcs.ecs.baylor.edu/exams" *ngIf="isAdmin">
                Exam Management
              </a>
              <a class="dropdown-item" href="https://tcs.ecs.baylor.edu/profile">
                Profile
              </a>
              <hr class="dropdown-divider">
              <a class="dropdown-item" (click)="signout()">
                Sign out
              </a>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</nav>
