<div class="container" style="padding: 10px;">

  <h3>Update Configuration</h3>

  <p>
    You can update a configuration by changing name and description. If you want to update a group inside
    a configuration, you can remove it and then add new group in its place.
  </p>

  <div class="columns">
    <div class="column">
      <h4>Add Description</h4>


      <form [formGroup]="configForm" novalidate>

        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input class="input" type="text" placeholder="Name" formControlName="name">
          </div>
        </div>

        <div class="field">
          <label class="label">Description</label>
          <div class="control">
            <textarea class="textarea" placeholder="Description" formControlName="description"></textarea>
          </div>
        </div>

      </form>

    </div>

    <div class="column">
      <h4>Add Groups</h4>
      <app-conf-creator [configInfo]="configInfo" (group)="passGroup($event)" [selectedGroup]="selectedGroup"></app-conf-creator>
    </div>
  </div>

  <div class="columns">
    <div class="column">

      <app-conf-group [groups]="groups" (editGroup)="selectGroup($event)" (removeGroup)="deleteGroup($event)"></app-conf-group>


      <hr>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-success" type="submit" (click)="onSubmit()">Update Configuration</button>
        </div>
        <div class="control">
          <button class="button is-text" type="reset" (click)="reset()">Reset</button>
        </div>
      </div>
    </div>
  </div>






</div>
